<form>
    {{input placeholder="Password" value=password classNames="form-control"}}
    <input type="submit" name="reset" class="btn btn-primary fs-title" value="Reset" {{action submit password}}>
</form>

<div class="login-help">
    {{#link-to 'register' classNames="pointer"}}Register{{/link-to}} - {{#link-to 'login' classNames="pointer"}}Login{{/link-to}}
</div>

