<div class="register-login-wrapper">
    <div class="loginmodal-container">
        <h1>QCIDE IO</h1>
        {{login-form changeset=(changeset user UserValidations) submit=(action "submit")}}
    </div>
</div>